<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ngeleh</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav__logo">
        <span>Ngeleh</span> <button class="hamburger" type="button">☰</button>
      </div>

      <ul class="nav-menu open">
        <li><a href="#hero">Home</a></li>
        <li><a href="#">Favourite</a></li>
        <li>
          <a href="https://github.com/riqqiamru" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
      <article>
        <section id="hero">
          <h1>Ngeleh</h1>
        </section>
        <section id="menu"></section>
      </article>
    </main>
    <footer>copyright &copy; 2023 - Ngeleh</footer>
  </body>
</html>
