$red-orange: rgb(233, 93, 53);
$orange: rgb(255, 197, 92);
$yellow-light: rgb(255, 255, 195);

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html{
  overflow-x:hidden;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

// kenapa ketika layar kecil navbar tidak full width?

.nav {
  display: flex;
  flex-wrap:no-wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100vw;
  

  .nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: $red-orange;
    text-shadow: 2px 4px 3px rgba(255, 255, 0, 1);
    padding: 10px 10px;
    .hamburger {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.2rem;
    margin: 20px 0;

    li {
      a {
        text-decoration: none;
        color: $red-orange;
        transition: all 0.3s ease-in-out;
        font-weight: 600;

        &:hover {
          color: $yellow-light;
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  article {
    #hero {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 400px;
      width: 100vw;
      max-width: 1200px;
      background-image: url("../public/images/heros/hero-image_4.jpg");
      background-color: $red-orange;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 20px;
      margin: 0px;

      h1 {
        color: $red-orange;
        font-size: 4rem;
        text-shadow: 2px 4px 2px rgba(255, 255, 0, 1);
      }
    }

    #menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 20px;
      padding: 20px;
      margin: 0px;
      width: 100vw;
      max-width: 1200px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red-orange;
  color: $yellow-light;
  padding: 20px;
  margin: 0px;
  min-height: 50px;
  width: 100vw;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}



@media screen and (max-width: 425px) {
  .nav {
    flex-direction: column;

    .nav__logo {
      min-width: 100vw;
    }

    .hamburger {
      display: inline !important ;
      font-size: 2rem;
      color: $red-orange;
      border: none;
      background: none;
      min-width:45px;
      min-height:45px;
    }
    .nav-menu {
      position: absolute;
      transform: translateY(-100%);
      z-index: 998;
      background:$orange;
      padding:5px;
      margin: 0px;
      min-width: 100vw;
      justify-content: space-around;
      a{
        min-width:45px;
        min-height:45px;
        display:flex;
        flex-direction:column;
        justify-content:center;
      }
    }
    .nav-menu.open {
      transform: translateY(100%);
      transition: transform 0.4s ease-in-out;
    }
  }
}
